:root {
    --button-color: #fac5d9;
    --font-color: #f5faf6;
}

* {
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #8cba98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text {
    width: 50%;
    margin: auto;
    margin-top: 10vh !important;
    text-align: center;
}

img {
    margin-top: 1rem;
    width: 30%;
}

#buttons {
    margin-top: 5vh;
}

button {
    background-color: #fac5d9;
    padding: 0.5rem 1rem;
    width: 75px;
    border-radius: 5px;
    margin: 0 0.5rem;
    cursor: pointer;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#yes-cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 20vh;
    animation: rotate360 2s linear infinite; /* Adjust the duration and timing function as needed */
}

#no-button {
    position: relative;
}
